@model MyDataCenter.Models.POCOS.Month

@{
    ViewBag.Title = "This Months Budget Info";
}

<h1>@ViewBag.Title.</h1>

<h2>Overview</h2>
<table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>@Html.DisplayNameFor(model => model.TotalPay)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>@Html.DisplayNameFor(model => model.Rent)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>@Html.DisplayNameFor(model => model.Utilities)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>@Html.DisplayNameFor(model => model.BudgetStatistics.RequiredTotalSpent)</th>
        </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(model => model.TotalPay)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(model => model.Rent)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(model => model.Utilities)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(model => model.BudgetStatistics.RequiredTotalSpent)
                </td>
            </tr>
</table>

<h2>Required Expenses</h2>
<table>
    <tr>
        <th>Name</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Price</th>
    </tr>
    <tr>
        @foreach (var item in Model.RequiredExpenses)
        {
            <td>
                @item.Name
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @item.Price
            </td>
        }
    </tr>
</table>

<h2>Monthly Expenses</h2>
<table>
    <tr>
        <th>Name</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Price</th>
    </tr>
    <tr>
        @foreach (var item in Model.MonthlyExpenses)
        {
            <td>
                @item.Name
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @item.Price
            </td>
        }
    </tr>
</table>

<h2>Luxury Expenses</h2>
<table>
    <tr>
        <th>Name</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Price</th>
    </tr>
    @foreach (var item in Model.LuxuryExpenses)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @item.Price
            </td>
        </tr>
    }
</table>



